<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap rescap">

  <Identity Name="tsuchim.WindowThumbWall"
            Publisher="CN=tsuchim"
            Version="0.2.0.0"
            ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Window Thumb Wall</DisplayName>
    <PublisherDisplayName>tsuchim</PublisherDisplayName>
    <Description>Live DWM thumbnail wall for external windows</Description>
    <Logo>Assets\icon-1-50.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="WindowThumbWall.exe"
                 EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Window Thumb Wall"
                          Description="Live DWM thumbnail wall"
                          BackgroundColor="#1E1E1E"
                          Square150x150Logo="Assets\icon-1-150.png"
                          Square44x44Logo="Assets\icon-1-44.png">
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
